# Project Description


Dataset: https://archive.ics.uci.edu/ml/datasets/bank+marketing

The goal of the project is to determine will the client subscribe a bank term deposit

# Exploratory Data Analysis

First we read the dataset into dataframe. Notice that the dataset is a csv file but separated by `;`

In [20]:
import pandas as pd

df = pd.read_csv("./dataset/bank-additional/bank-additional.csv",sep=";")

df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

There are several features that have **categorical data**, perform **One Hot Encoder** on the these features.

In [48]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

transformer = make_column_transformer(
    (OneHotEncoder(), ["job","marital","contact"]),
    remainder='passthrough')

transformed_df = pd.DataFrame(
    transformer.fit_transform(df), 
    columns=transformer.get_feature_names()
)

  onehotencoder__x0_admin. onehotencoder__x0_blue-collar  \
0                      0.0                           1.0
1                      0.0                           0.0
2                      0.0                           0.0
3                      0.0                           0.0
4                      1.0                           0.0

  onehotencoder__x0_entrepreneur onehotencoder__x0_housemaid  \
0                            0.0                         0.0
1                            0.0                         0.0
2                            0.0                         0.0
3                            0.0                         0.0
4                            0.0                         0.0

  onehotencoder__x0_management onehotencoder__x0_retired  \
0                          0.0                       0.0
1                          0.0                       0.0
2                          0.0                       0.0
3                          0.0                       0.0
4                          0.0                       0.0

  onehotencoder__x0_self-employed onehotencoder__x0_services  \
0                             0.0                        0.0
1                             0.0                        1.0
2                             0.0                        1.0
3                             0.0                        1.0
4                             0.0                        0.0

  onehotencoder__x0_student onehotencoder__x0_technician  ... campaign pdays  \
0                       0.0                          0.0  ...        2   999
1                       0.0                          0.0  ...        4   999
2                       0.0                          0.0  ...        1   999
3                       0.0                          0.0  ...        3   999
4                       0.0                          0.0  ...        1   999

  previous     poutcome emp.var.rate cons.price.idx cons.conf.idx euribor3m  \
0        0  nonexistent         -1.8         92.893         -46.2     1.313
1        0  nonexistent          1.1         93.994         -36.4     4.855
2        0  nonexistent          1.4         94.465         -41.8     4.962
3        0  nonexistent          1.4         94.465         -41.8     4.959
4        0  nonexistent         -0.1           93.2         -42.0     4.191

  nr.employed   y
0      5099.1  no
1      5191.0  no
2      5228.1  no
3      5228.1  no
4      5195.8  no

[5 rows x 36 columns]

c:\Users\Long Viet Ta\git\work\bank-investment-prediction\env\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)