# Project Description


Dataset: https://archive.ics.uci.edu/ml/datasets/bank+marketing

The goal of the project is to determine will the client subscribe a bank term deposit

# Exploratory Data Analysis

First we read the dataset into dataframe. Notice that the dataset is a csv file but separated by `;`

In [52]:
import pandas as pd

df = pd.read_csv("./dataset/bank-additional/bank-additional.csv",sep=";")

df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

There are several features that have **categorical data**, perform **One Hot Encoder** on the these features.

In [55]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


columnTransformer = ColumnTransformer(
    [
        ("OneHotEncoder", OneHotEncoder(), ["job", "marital", "contact"]),
    ]
)

transformed_df = pd.DataFrame(
    columnTransformer.fit_transform(df).toarray(),
    columns=columnTransformer.get_feature_names_out()
)

      OneHotEncoder__job_admin.  OneHotEncoder__job_blue-collar  \
0                           0.0                             1.0
1                           0.0                             0.0
2                           0.0                             0.0
3                           0.0                             0.0
4                           1.0                             0.0
...                         ...                             ...
4114                        1.0                             0.0
4115                        1.0                             0.0
4116                        0.0                             0.0
4117                        1.0                             0.0
4118                        0.0                             0.0

      OneHotEncoder__job_entrepreneur  OneHotEncoder__job_housemaid  \
0                                 0.0                           0.0
1                                 0.0                           0.0
2                                 0.0                           0.0
3                                 0.0                           0.0
4                                 0.0                           0.0
...                               ...                           ...
4114                              0.0                           0.0
4115                              0.0                           0.0
4116                              0.0                           0.0
4117                              0.0                           0.0
4118                              0.0                           0.0

      OneHotEncoder__job_management  OneHotEncoder__job_retired  \
0                               0.0                         0.0
1                               0.0                         0.0
2                               0.0                         0.0
3                               0.0                         0.0
4                               0.0                         0.0
...                             ...                         ...
4114                            0.0                         0.0
4115                            0.0                         0.0
4116                            0.0                         0.0
4117                            0.0                         0.0
4118                            1.0                         0.0

      OneHotEncoder__job_self-employed  OneHotEncoder__job_services  \
0                                  0.0                          0.0
1                                  0.0                          1.0
2                                  0.0                          1.0
3                                  0.0                          1.0
4                                  0.0                          0.0
...                                ...                          ...
4114                               0.0                          0.0
4115                               0.0                          0.0
4116                               0.0                          0.0
4117                               0.0                          0.0
4118                               0.0                          0.0

      OneHotEncoder__job_student  OneHotEncoder__job_technician  \
0                            0.0                            0.0
1                            0.0                            0.0
2                            0.0                            0.0
3                            0.0                            0.0
4                            0.0                            0.0
...                          ...                            ...
4114                         0.0                            0.0
4115                         0.0                            0.0
4116                         1.0                            0.0
4117                         0.0                            0.0
4118                         0.0                            0.0

      OneHotEncoder__job_unemployed  OneHotEncoder__job_unknown  \
0                               0.0                         0.0
1                               0.0                         0.0
2                               0.0                         0.0
3                               0.0                         0.0
4                               0.0                         0.0
...                             ...                         ...
4114                            0.0                         0.0
4115                            0.0                         0.0
4116                            0.0                         0.0
4117                            0.0                         0.0
4118                            0.0                         0.0

      OneHotEncoder__marital_divorced  OneHotEncoder__marital_married  \
0                                 0.0                             1.0
1                                 0.0                             0.0
2                                 0.0                             1.0
3                                 0.0                             1.0
4                                 0.0                             1.0
...                               ...                             ...
4114                              0.0                             1.0
4115                              0.0                             1.0
4116                              0.0                             0.0
4117                              0.0                             1.0
4118                              0.0                             0.0

      OneHotEncoder__marital_single  OneHotEncoder__marital_unknown  \
0                               0.0                             0.0
1                               1.0                             0.0
2                               0.0                             0.0
3                               0.0                             0.0
4                               0.0                             0.0
...                             ...                             ...
4114                            0.0                             0.0
4115                            0.0                             0.0
4116                            1.0                             0.0
4117                            0.0                             0.0
4118                            1.0                             0.0

      OneHotEncoder__contact_cellular  OneHotEncoder__contact_telephone
0                                 1.0                               0.0
1                                 0.0                               1.0
2                                 0.0                               1.0
3                                 0.0                               1.0
4                                 1.0                               0.0
...                               ...                               ...
4114                              1.0                               0.0
4115                              0.0                               1.0
4116                              1.0                               0.0
4117                              1.0                               0.0
4118                              1.0                               0.0

[4119 rows x 18 columns]